---
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
Standard: Cpp03
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: true
AlwaysBreakAfterReturnType: None
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
PenaltyReturnTypeOnItsOwnLine: 1000
